{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        The DWP Health PDU
        
      </h1>{{releaseVersion | log }}
      
	  <h2 class="heading-medium">Communications hub</h2>	      

      <div class="most-recent">
      	<h3 class="heading-xlarge">Thing 1</h3>
      	<a href="/first-page">Thing 1</a>
      	<h3 class="heading-xlarge">Thing 2</h3>
      	<a href="/second-page">Thing 2</a>
      	<h3 class="heading-xlarge">Thing 3</h3>
      	<a href="/third-page">Thing 3</a>
      </div>	

    <!--  <h3 class="heading-medium">Other resources</h3>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul> -->

    </div>
  </div>
</main>

{% endblock %}


